.page-separator {
  background-color: #1d1d1d;
  display: block;
  content: "";
  height: 1px;
  margin-top: .35em;
  width: 60px;
}

.page-content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

.fa {
  padding-right: 10px;
  font-size: 30px !important;
}
