.wrapper {
  width:150px;
  height:150px;
  margin: 25px auto;
  overflow: hidden;
  border-radius:50%;
  position: relative;
}

.wrapper img {
  position: absolute;
  top:75%;
  left:50%;
  transform: translate(-50%,-50%)
}

.cropped {
  width: 120px;
  height: 30px;
  overflow: hidden;
  border-radius: 20%
}

.cropped img {
  margin: -47px 0px 0px 0px;
}

.fk-cropped {
  width: 115px;
  height: 30px;
  overflow: hidden;
  margin-top: 20px
}

.fk-cropped img {
  margin: 0px 15px 0px 3px;
}

.divinity-banner {
  width: auto;
  text-align: left;
  padding: 0 6em 2em 6em;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
