<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="wrapper">
        <img src="/me.jpg" alt="" />
      </div>
      <h1>
        <a href=/>
          <div class="name-logo">
            Prateek Srivastava
          </div>
        </a>
      </h1>
      <i><p class="lead">{{ site.description }}</p></i>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.indexName != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.indexName }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <a href="https://www.instagram.com/prateekwritesstories" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true">
      </i>
    </a>
    <a href="https://www.facebook.com/prateekwritesstories" target="_blank">
      <i class="fa fa-facebook-official" aria-hidden="true">
      </i>
    </a>
  </div>
  <!--div id="signup-form" class="signup-form">
    <form action="https://getsimpleform.com/messages?form_api_token=e8cc5c353641345e74b3966ab7ca0163" method="POST" enctype="multipart/form-data">
      <div class="common-text">
        Subscribe for newsletter
      </div>
      <div id="mc_embed_signup_scroll" style="padding-bottom: 1em;">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="enter your email" required="">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

        <!--span style="position: absolute;left: -5000px;" aria-hidden="true">
          <input type="text" name="b_25a34f10515c4e9393e3da856_280158dda1" tabindex="-1" value="">
        </span>
        <span class="clear" style="margin-top: 1em;">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </span>
        <input type="hidden" name="redirect_to" value="http://www.srivastavaprateek.com/thank-you/">
      </div>
    </form>
  </div-->
</div>
