<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="wrapper">
        <img src="/media/prateeksrivastava.jpg" alt="" />
      </div>
      <h1>
        <a href=/>
          <div class="name-logo">
            Prateek Srivastava
          </div>
        </a>
      </h1>
      <i><p class="lead">{{ site.description }}</p></i>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.indexName != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.indexName }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <a href="https://www.instagram.com/prateekwritesstories" target="_blank">
      <i class="fab fa-instagram fa-lg" aria-hidden="true">
      </i>
    </a>
    &nbsp;
    <a href="https://www.facebook.com/prateekwritesstories" target="_blank">
      <i class="fab fa-facebook fa-lg" aria-hidden="true">
      </i>
    </a>
    &nbsp;
    <!-- <a href="https://www.facebook.com/prateekwritesstories" target="_blank">
      <i class="fab fa-goodreads fa-lg" aria-hidden="true">
      </i>
    </a>
    &nbsp; -->
    <a href="mailto:contact@srivastavaprateek.com" target="_blank">
      <i class="far fa-envelope fa-lg" aria-hidden="true">
      </i>
    </a>

  </div>
</div>
